django
gunicorn
python-dotenv
whitenoise
django-ninja
pandas
psycopg2>=2.8.6,<2.9
django-allauth
dj-rest-auth
django-rest-framework
django-redis
xmltodict
django-cors-headers
tensorflow==2.10.0
numpy == 1.21.6
# psycopg2-binary
# mysqlclient
